.h3{
    color: white;
    background-color: rgba(0, 0, 0, 0.795);
    width: 50%;
}
.p{
    color: white;
    background-color: rgba(0, 0, 0, 0.795);
    width: 100%;
}

@media screen and (max-width:960px){
    .h3{
        display: none;
    }
    .p{
        width: 100%;
        font-size: 15px;
    }
}
